@use "../components/backButton";
@use "../components/progressBar";
@use "../abstracts" as *;

main {
  position: relative;
  height: 53.5rem;
  max-width: 69.375rem;
  margin: 2.5rem 11.46% 0 11.46%;
  padding: 0 2.5rem 0 2.5rem;
  background-color: $mainBackground;
  border-radius: 10px;
  font-family: "museo-sans", sans-serif;
}

.mainContent {
  height: 100%;
  display: grid;
  grid-template: 50% 50% / 50% 50%;
}